@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.tf-form {
    font-family: 'Poppins';
    -fx-font-family: 'Poppins';
    background-color: transparent;
    -fx-background-color: transparent;
    border-color: #3B6959;
    -fx-border-color: #3B6959;
    border-width: 2px;
    -fx-border-width: 2px;
    border-radius: 50;
    -fx-border-radius: 50;
    padding: 5;
    -fx-padding: 5;
    max-width: 160px;
    -fx-max-width: 160px;
    max-height: 30;
    -fx-max-height: 30;
    min-height: 30;
    -fx-min-height: 30;
}

.label-form {
    -fx-text-fill: #3B6959;
    font-family: 'Poppins';
    -fx-font-family: 'Poppins';
    font-size: 15px;
    -fx-font-size: 15px;
}

.button-akg{
    background-color: #95ECC6;
    -fx-background-color: #95ECC6;
    border-color: #3B6959;
    -fx-border-color: #3B6959;
    border-width: 2px;
    -fx-border-width: 2px;
    border-radius: 10;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-text-fill: #3B6959;
    font-family: 'Poppins';
    -fx-font-family: 'Poppins';
    font-size: 13px;
    -fx-font-size: 13px;
    font-weight: bold;
    -fx-font-weight: bold;
}

.label-tittle{
    -fx-text-fill: #3B6959;
    font-family: 'Poppins';
    -fx-font-family: 'Poppins';
    font-weight: bold;
    -fx-font-weight: bold;
    font-size: 15px;
    -fx-font-size: 15px;
    max-height: 49;
    -fx-max-height: 49;
    max-width: 700px;
    -fx-max-width: 700px;
}

.label-keterangan{
    -fx-text-fill: #3B6959;
    font-family: 'Poppins';
    -fx-font-family: 'Poppins';
    font-size: 5px;
    -fx-font-size: 5px;
    max-width: 200px;
    -fx-max-width: 200px;
}

.label-hasil-akg{
    -fx-text-fill: #720808;
    font-family: 'Poppins';
    -fx-font-family: 'Poppins';
    font-size: 17px;
    -fx-font-size: 17px;
    font-weight: bold;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.label-ket-akg{
    -fx-text-fill: #3B6959;
    font-family: 'Poppins';
    -fx-font-family: 'Poppins';
    font-size: 13px;
    -fx-font-size: 13px;
    font-weight: bold;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.label-kebutuhan{
    -fx-text-fill: #3B6959;
    font-family: 'Poppins';
    -fx-font-family: 'Poppins';
    font-size: 11px;
    -fx-font-size: 11px;
    -fx-alignment: center;
}

.label-header{
    -fx-text-fill: #720808;
    font-family: 'Poppins';
    -fx-font-family: 'Poppins';
    font-size: 11px;
    -fx-font-size: 11px;
    font-weight: bold;
    -fx-font-weight: bold;
}

.label-pengertian{
    -fx-text-fill: #720808;
    font-family: 'Poppins';
    -fx-font-family: 'Poppins';
    font-size: 10px;
    -fx-font-size: 10px;
}

.button-simpan{
    background-color: #FFB8BF;
    -fx-background-color: #FFB8BF;
    border-color: #720808;
    -fx-border-color: #720808;
    border-width: 2px;
    -fx-border-width: 2px;
    border-radius: 10;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-prompt-text-fill: #720808;
    -fx-text-fill: #720808;
    font-family: 'Poppins';
    -fx-font-family: 'Poppins';
    font-size: 13px;
    -fx-font-size: 13px;
    font-weight: bold;
    -fx-font-weight: bold;
}
