@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.button-profilsaya{
    background-color: #FFB8BF;
    -fx-background-color: #FFB8BF;
    border-width: 2px;
    -fx-border-width: 2px;
    padding: 5;
    -fx-padding: 5;
    -fx-prompt-text-fill: #75493A;
    max-width: 380px;
    -fx-max-width: 380px;
    max-height: 50;
    -fx-max-height: 50;
    min-height: 30;
    -fx-min-height: 30;
    -fx-text-fill: #75493A;
    font-family: 'Poppins';
    -fx-font-family: 'Poppins';
    font-size: 15px;
    -fx-font-size: 15px;
    font-weight: bold;
    -fx-font-weight: bold;
}

.button-laporan{
    background-color: #FDCCD1;
    -fx-background-color: #FDCCD1;
    border-width: 2px;
    -fx-border-width: 2px;
    padding: 5;
    -fx-padding: 5;
    -fx-prompt-text-fill: #75493A;
    max-width: 373px;
    -fx-max-width: 373px;
    max-height: 50;
    -fx-max-height: 50;
    min-height: 30;
    -fx-min-height: 30;
    -fx-text-fill:#75493A;
    font-family: 'Poppins';
    -fx-font-family: 'Poppins';
    font-size: 15px;
    -fx-font-size: 15px;
    font-weight: bold;
    -fx-font-weight: bold;
}

.button-tambah{
    background-color: #FFB8BF;
    -fx-background-color: #FFB8BF;
    border-color: #720808;
    -fx-border-color: #720808;
    border-width: 2px;
    -fx-border-width: 2px;
    border-radius: 25;
    -fx-border-radius: 25;
    -fx-background-radius: 20;
    -fx-prompt-text-fill: #720808;
    font-family: 'Poppins';
    -fx-font-family: 'Poppins';
    -fx-text-fill: #720808;
    font-size: 12px;
    -fx-font-size: 12px;
    font-weight: bold;
    -fx-font-weight: bold;
}

.button-reset{
    background-color: #FFB8BF;
    -fx-background-color: #FFB8BF;
    border-color: #720808;
    -fx-border-color: #720808;
    border-width: 2px;
    -fx-border-width: 2px;
    border-radius: 25;
    -fx-border-radius: 25;
    -fx-background-radius: 20;
    -fx-prompt-text-fill: #720808;
    font-family: 'Poppins';
    -fx-font-family: 'Poppins';
    font-size: 12px;
    -fx-font-size: 12px;
    -fx-text-fill: #720808;
    font-weight: bold;
    -fx-font-weight: bold;
}

.label-kalori{
    -fx-text-fill: #3B6959;
    font-family: 'Poppins';
    -fx-font-family: 'Poppins';
    font-size: 20px;
    -fx-font-size: 20px;
    font-weight: bold;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.label-nutrisi{
    -fx-text-fill: #3B6959;
    font-family: 'Poppins';
    -fx-font-family: 'Poppins';
    font-size: 15px;
    -fx-font-size: 15px;
    font-weight: bold;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.label-status{
    -fx-text-fill: #720808;
    font-family: 'Poppins';
    -fx-font-family: 'Poppins';
    font-size: 12px;
    -fx-font-size: 12px;
    -fx-alignment: center;
}
