@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.label-profil{
    background-color: #FFB8BF;
    -fx-background-color: #FFB8BF;
    -fx-text-fill: #720808;
    -fx-background-radius: 0;
    font-family: 'Poppins';
    -fx-font-family: 'Poppins';
    font-size: 15px;
    -fx-font-size: 15px;
    -fx-alignment: center;
    font-weight: bold;
    -fx-font-weight: bold;
}

.label-laporan{
    background-color: #FDCCD1;
    -fx-background-color: #FDCCD1;
    -fx-text-fill:#720808;
    -fx-background-radius: 0;
    font-family: 'Poppins';
    -fx-font-family: 'Poppins';
    font-size: 15px;
    -fx-font-size: 15px;
    -fx-alignment: center;
    font-weight: bold;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #720808, 5, 0.1, 0, 0);
}

.button-tambah{
    background-color: #FFB8BF;
    -fx-background-color: #FFB8BF;
    border-color: #720808;
    -fx-border-color: #720808;
    border-width: 2px;
    -fx-border-width: 2px;
    border-radius: 25;
    -fx-border-radius: 25;
    -fx-background-radius: 20;
    -fx-prompt-text-fill: #720808;
    font-family: 'Poppins';
    -fx-font-family: 'Poppins';
    -fx-text-fill: #720808;
    font-size: 12px;
    -fx-font-size: 12px;
    font-weight: bold;
    -fx-font-weight: bold;
}

.button-reset{
    background-color: #FFB8BF;
    -fx-background-color: #FFB8BF;
    border-color: #720808;
    -fx-border-color: #720808;
    border-width: 2px;
    -fx-border-width: 2px;
    border-radius: 25;
    -fx-border-radius: 25;
    -fx-background-radius: 20;
    -fx-prompt-text-fill: #720808;
    font-family: 'Poppins';
    -fx-font-family: 'Poppins';
    font-size: 12px;
    -fx-font-size: 12px;
    -fx-text-fill: #720808;
    font-weight: bold;
    -fx-font-weight: bold;
}

.label-kalori{
    -fx-text-fill: #720808;
    font-family: 'Poppins';
    -fx-font-family: 'Poppins';
    font-size: 20px;
    -fx-font-size: 20px;
    font-weight: bold;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.label-nutrisi{
    -fx-text-fill: #3B6959;
    font-family: 'Poppins';
    -fx-font-family: 'Poppins';
    font-size: 15px;
    -fx-font-size: 15px;
    font-weight: bold;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.label-status{
    -fx-text-fill: #720808;
    font-family: 'Poppins';
    -fx-font-family: 'Poppins';
    font-size: 12px;
    -fx-font-size: 12px;
    -fx-alignment: center;
}
