@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.label-calorie {
    -fx-font-family: 'Poppins';
    -fx-font-weight: 900;
    -fx-max-height: 80px;
    -fx-min-height: 80px;
    -fx-font-size: 75px;
    -fx-text-fill: #95ECC6;
    -fx-effect: dropshadow(gaussian, #2f5447, 0, 0, 3, 3);
}

.label-tracker {
    -fx-font-family: 'Poppins';
    -fx-font-weight: 900;
    -fx-font-size: 75px;
    -fx-max-height: 80px;
    -fx-min-height: 80px;
    -fx-text-fill: #FFB8BF;
    -fx-effect: dropshadow(gaussian, #720808, 0, 0, 3, 3);
}

.tf-email {
    -fx-background-color: #95ECC6;
    -fx-border-width: 1.5px;
    -fx-border-color: #2f5447;   
    -fx-border-radius: 25;   
    -fx-background-radius: 25;    
    -fx-prompt-text-fill: #2f5447;        
    -fx-font-family: 'Poppins';
    -fx-font-size: 13px;
    -fx-padding: 15px;
    -fx-text-fill: #2f5447;
    -fx-max-width: 260px;
    -fx-max-height: 45;
    -fx-min-height: 45;
}

.tf-password {
    -fx-background-color: #FFB8BF;
    -fx-border-width: 1.5px;
    -fx-border-color: #720808;   
    -fx-border-radius: 25;   
    -fx-background-radius: 25;    
    -fx-prompt-text-fill: #720808;        
    -fx-font-family: 'Poppins';
    -fx-font-size: 13px;
    -fx-padding: 15px;
    -fx-text-fill: #720808;
    -fx-max-width: 260px;
    -fx-max-height: 45;
    -fx-min-height: 45;
}

.starting-button {
    -fx-background-color: #95ECC6; 
    -fx-border-color: #2f5447;    
    -fx-border-radius: 50;     
    -fx-border-width: 1.5px;   
    -fx-background-radius: 50;    
    -fx-font-family: 'Poppins';
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: #2f5447; 
    -fx-alignment: center;
    -fx-max-width: 260px;
    -fx-max-height: 45;
    -fx-min-height: 45;
}

.red-label {
    -fx-text-fill: #720808; 
    -fx-font-family: 'Poppins';
    -fx-font-size: 13;
}